{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings:</h2>
    <ul class="list-group">  
        {% for listing in listings %}
            {% if listing.active %}
            <a href="{% url 'listing' listing.id%}">
                <li class="listing list-group-item">
                    {% if listing.picture %}
                    <img src="{{ listing.picture.url }}" alt="" width="250">
                    {% endif %}
                    <div class="wrapper">
                        <h4>{{listing.title}}</h4>
                        <br>
                        <h5>Price: ${% if listing.current_bid == 0%}
                            {{listing.starting_bid}}
                            {% else %}
                            {{listing.current_bid}}
                            {% endif %}</h5>
                        <h6>{{listing.description}}</h6>
                        Created {{listing.time}}
                    </div>
                </li>
            </a>
            {% endif %}
        {%endfor%}
    </ul>
{% endblock %}