{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings:</h2>
<div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-3 g-5">
    {% for listing in listings %}
    {% if listing.active %}
        <div class="col">
            <div class="card h-100">
                {% if listing.picture %}
                <img src="{{ listing.picture.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h3 class="card-title">{{listing.title}}</h3>
                    <p class="card-subtitle">{{listing.description}}</p>
                    <h5 class="card-text">
                        Price: ${% if listing.current_bid == 0%}
                        {{listing.starting_bid}}
                        {% else %}
                        {{listing.current_bid}}
                        {% endif %}
                    </h5>
                    
                </div>
                <a href="{% url 'listing' listing.id%}" type="button" class="btn btn-outline-success">Details</a>
                <div class="card-footer">
                    <small class="text-muted">Created {{listing.time}}</small>
                </div>
            </div>
        </div>
        {% endif %}
        {%endfor%}
</div>
{% endblock %}