{% extends "auctions/layout.html" %}

{% block title%}
    Listing {{listing.id}}
{% endblock%}


{% block body %}
    
    
    <h1>Listing: {{listing.title}}</h1>
    <div>
        <img src="{{listing.picture.url}}" width="300px">
    </div>
    <h6>{{listing.description}}</h6>
    <h2>${{listing.starting_bid}}</h2>
    {% if not in_watchlist %}
        <form action="{% url 'listing' listing.id%}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{listing.id}}" name="add_listing">
            <button type="submit">Add To Watchlist</button>
        </form>
    {% else %}
        <form action="{% url 'watchlist'%}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{listing.id}}" name="delete_listing">
            <button type="submit"> Delete From Watchlist</button>
        </form>
    {% endif %}
    <h2>Details:</h2>
    <ul>
        <li>
            Listed by: {{listing.creator}}
        </li>
        <li>
            {% if listing.condition %}
            Condition: {{listing.condition}}
            {% else %}
            Condition: No condition specified
            {% endif %}
        </li>
        <li>
            {% if listing.category %}
            <a href="{% url 'category' listing.category.id%}">Category: {{listing.category}}</a>
            {% else %}
            Category: No Category Listed
            {% endif %}
        </li>
    </ul>
{% endblock %}
