{% extends "auctions/layout.html" %}

{% block title%}
    Listing {{listing.id}}
{% endblock%}


{% block body %}
    
    {% if message %}
    <h1>{{message}}</h1>
    {% endif %}
    {% if bidder %}
    <h4>You bid on this listing</h4>
    {% endif %}
    <h1>Listing: {{listing.title}}</h1>
    <div>
        <img src="{{listing.picture.url}}" width="300px">
    </div>
    <h6>{{listing.description}}</h6>
    <h2>$
        {% if listing.current_bid == 0%}
        {{listing.starting_bid}}
        {% else %}
        {{listing.current_bid}}
        {% endif %}
    </h2>
    <div>Watchers: {{watchers}}</div><br>
    {% if not in_watchlist %}
        <form action="{% url 'listing' listing.id%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form" value="1">
            <input type="hidden" value="{{listing.id}}" name="add_listing">
            <button type="submit">Add To Watchlist</button>
        </form>
    {% else %}
        <form action="{% url 'watchlist'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="form" value="1">
            <input type="hidden" value="{{listing.id}}" name="delete_listing">
            <button type="submit"> Delete From Watchlist</button>
        </form>
    {% endif %}
    <br>
    <h5>{{bids}} bid(s) so far.
        {% if last_user == request.user %}
        Your bid is the current one
        {% elif  last_user == ''%}
        {% else %}
        {{last_user}}'s bid is the current one
        {% endif %}
    </h5>
    <form action="{% url 'listing' listing.id%}" method="post">
        {% csrf_token %}
        <input type="number" name="bid">
        <input type="hidden" name="form" value="2">
        <button type="submit">Bid</button>
    </form>
    <h2>Details:</h2>
    <ul>
        <li>
            Listed by: {{listing.creator}}
        </li>
        <li>
            {% if listing.condition %}
            Condition: {{listing.condition}}
            {% else %}
            Condition: No condition specified
            {% endif %}
        </li>
        <li>
            {% if listing.category %}
            <a href="{% url 'category' listing.category.id%}">Category: {{listing.category}}</a>
            {% else %}
            Category: No Category Listed
            {% endif %}
        </li>
    </ul>
{% endblock %}
