{% extends "auctions/layout.html" %}

{% block title %}
  Watchlist
{% endblock %}

{% block body %}
    <h1>Watchlist:</h1>
    <ul class="list-group">  
        {% for listing in listings %}
            <a href="{% url 'listing' listing.id%}">
                <li class="listing list-group-item">
                    {% if listing.picture %}
                    <img src="{{ listing.picture.url }}" alt="" width="250">
                    {% endif %}
                    <div class="wrapper">
                        <h4>{{listing.title}}</h4>
                        <br>
                        <h5>Price: ${{listing.starting_bid}}</h5>
                        <h6>{{listing.description}}</h6>
                        Created {{listing.time}}
                    </div>
                    <form action="{% url 'watchlist'%}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{listing.id}}" name="delete_listing">
                        <button type="submit"> Delete From Watchlist</button>
                    </form>
                </li>
            </a>
        {%endfor%}
    </ul>
{% endblock %}