/* body */
html{
    height:auto
}
*{
    margin:0;
    padding:0;
}
body{
    text-align: center!important;
    padding: 0px 50px 30px 50px;
    margin:0;
    height:auto;
    background-image: url('pexels-henry-&-co-2341290.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}
.main_content{
    margin-top:100px
}
h2{
    border-bottom: 2px solid  rgb(65, 112, 102);
    border-top: 2px solid  rgb(65, 112, 102);
    padding: 20px !important;
    margin-bottom: 60px !important;
}

/* cards */
.card{
    margin: 5px!important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);;
}
.card a{
    margin:1px;
    padding:15px;
    font-weight:700
}
.card img {
    object-fit: cover;
  }

.card .card-body{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.card-text{
    color:rgb(42, 107, 58);
}

/* text */
h2, .text-beige, .list-group a:hover{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.text-beige{
    color:rgb(237, 237, 203)!important;
    margin-left: 25px;
}
.suggestion{
    font-weight: 700;
    font: medium;
    margin-top:10px;
}
.suggestion a{
    color:rgb(55, 122, 53)
}
.suggestion a:hover{
    color:rgb(53, 141, 112)
}


/* navbar */
.bg-green {
    background-color:rgb(65, 112, 102);
    color:aliceblue;
  }
.navbar {
    height: 70px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.custom-collapse{
    background-color: rgba(65, 112, 102, 0.8);
    padding:10px;
  }
.navbar-brand {
    line-height: 70px; 
  }
.navbar a:hover {
    color:white!important
}

/* forms */
.form-control:focus {
    border-color: green!important; 
    box-shadow: 0 0 0 0.2rem rgba(44, 140, 44, 0.25)!important; 
  }
  

/* alerts */
.alert {
    font-weight: 700;
}

/* lists */
.list-group a{
    background-color: rgba(56, 148, 74, 0.0);
    color:black;
    font-weight: 700;
    border-right: unset;
    border-left: unset;
}
.list-group a:hover{
    color:beige;
    text-decoration: none;
    background-color: rgba(96, 145, 106, 0.5);
}



.btn-file{
    color:rgb(82, 82, 82);
    border: 2px solid rgb(202, 197, 197);
}
.btn-file:hover{
    background-color: grey;
    color:white;
}
li.listing h4{
    color:rgb(207, 45, 166)
}
li.listing{
    display:flex;
    justify-content: space-between;
    padding: 30px;
    color:brown
}
.wrapper{
    margin-right: 650px;
}