body {
    padding: 10px;
}
.btn-file{
    color:rgb(82, 82, 82);
    border: 2px solid rgb(202, 197, 197);
}
.btn-file:hover{
    background-color: grey;
    color:white;
}
li.listing h4{
    color:rgb(75, 75, 99)
}
li.listing{
    display:flex;
    justify-content: space-between;
    padding: 30px
}
.wrapper{
    margin-right: 650px;
}


textarea {
    width: 300px;
    height: 150px;
    resize: vertical;
  }

  textarea::placeholder {
    color: transparent;
  }

  textarea:focus::placeholder {
    color: initial;
  }